{% extends "blog/base.html" %}


{% block content %}
<div class='banner'>
  <div id="home">

    <div class="row1">
      <div class="col-md-8">
      <div class="jumbotron orange-block">
        <p>Op de basisschool was ik een mini-nerd. Twee jaar geleden heb ik dit weer opgepakt. Ik sta iedere ochtend eerder op om te leren voor mijn Java certificering voordat ik naar mijn werk ga. </p>
      </div>
      <div class="col-md-6 vlak half-vlak"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/4xBelaSrWaI" frameborder="0" allowfullscreen></iframe></div>
      <div class='col-md-6 vlak half-vlak yellow-block'><p class=" padding-p black-text-box">Op dit moment is de ICT een mannen wereld. Ik zie geen enkele reden waarom vrouwen niet in onze branche zouden werken en zet me daar graag voor in. Op het Django Gilrs event in Groningen heb ik aan 70 vrouwen en meisje verteld hoe het is om als vrouw in de IT te werken: Leuk!</p></div>
    </div>
    <div  id="vlak3" class="col-md-4 vlak"></div> <!-- Foto divje-->
  </div>
  <!--<div class="row2">
    <div class="col-md-4 vlak blue-block"><p>test</p></div>
    <div class="col-md-4 vlak lightblue-block"><p>test</p></div>
    <div class="col-md-4 vlak red-block"><p>test</p></div>
  </div>-->
  </div> <!--Einde home div -->
</div><!-- einde van de banner -->



    {% for post in posts %}
        <div class="col-md-12 post">

            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p class="date blog-post-meta">
                {{ post.published_date }}
            </p>
            <p>{{ post.text|linebreaks }}</p>
        </div>
    {% endfor %}

{% endblock content %}
