{% extends "blog/base.html" %}

{% block content %}
    {% for post in posts %}
        <div class="col-sm-9 post blog-post">

            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p class="date blog-post-meta">
                {{ post.published_date }}
            </p>
            <p>{{ post.text|linebreaks }}</p>
        </div>
    {% endfor %}
        <div class="col-sm-3 blog-sidebar">
          <div class="sidebar-module">
            <h4>About</h4>
            <p>This is a work in progress page that I built at the Django girls workshop in Groningen.</p>
          </div>
        </div>
{% endblock content %}
