{% extends "blog/base.html" %}


{% block content %}
<div class='banner'>
  <div id="home">

    <div class="row1">
      <div class="col-md-8">
      <div class="jumbotron brown-block">
        <p></p>
      </div>
      <div class="col-md-6 vlak half-vlak"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/3wwB8V_zygc" frameborder="0" allowfullscreen></iframe></div>
      <div class='col-md-6 vlak half-vlak sogeti-block'><p></p></div>
    </div>
    <div  id="vlak3" class="col-md-4 vlak"></div> <!-- Foto divje-->
  </div>
  <!--<div class="row2">
    <div class="col-md-4 vlak blue-block"><p>test</p></div>
    <div class="col-md-4 vlak lightblue-block"><p>test</p></div>
    <div class="col-md-4 vlak red-block"><p>test</p></div>
  </div>-->
  </div>

</div><!-- einde van de banner -->


    {% for post in posts %}
        <div class="col-md-12 post">

            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p class="date blog-post-meta">
                {{ post.published_date }}
            </p>
            <p>{{ post.text|linebreaks }}</p>
        </div>
    {% endfor %}

{% endblock content %}
