.post{
  display: none;
}

/* Color Scheme */

html, body, .container {
  height: 100%;
  display: block;
  background-color: #FCFAE1;
}

.no-color-block{
  background-color: none;
}

.blue-block {
  background-color: #36939B;
}
.lightblue-block {
  background-color: #98D8C8;
}
.red-block {
  background-color: #D90118;
}
.orange-block {
  background-color: #FF5A2A;
}
.yellow-block {
  background-color: #F6E497;
}
.green-block {
  background-color: #B3E0C1;
}
.brown-block {
  background-color: #474030;
}
.sogeti-block {
  background-color: #ff4019;
}

.black-text-box {
  color: #262015;
}

.white-text-box{
  color: #FCFAE1;
}




/*
*NAV
*/


@media (min-width: 768px) {
  .my-navbar {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .my-navbar {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .my-navbar {
    width: 1170px;
  }
}

.my-navbar {
  padding-top: 20px;
  position: fixed;
  z-index: 1;
  background-color: #FCFAE1;
  padding-right: 30px;

}

/*
*NAVBAR
*/

.nav-item-container {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: 20px;


}

.nav-item{
  padding-left: 40px;
  font-size: 1.5em;
  cursor: pointer;
}

.nav-item-container >h1{
  margin: 0px;
  color: #262015;
  align-items: center;
  font-family: 'Lobster', cursive, sans-serif;
  font-size: 49px;
  cursor: pointer;
  text-decoration: none;
}

.nav-item-container>a{
  color: #262015;
}

a:hover {
  text-decoration: none;
}


/*
*NAV-BlOCKS
*/
.nav-blocks{
  display: none;
}

.nav-row{
  height: 150px;
}

.nav-block{
  padding: 0px;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.nav-block h1{
  font-size: 21px;
  color: #FCFAE1;
  text-align: center;

}

.nav-block p{
  color: #FCFAE1;
}


/*
*CONTENT-BANNER
*/

.my-content-banner{
  height: 57%;
  margin-top: 100px;
  padding: 0px;
}



.my-content-banner p{
  padding: 20px;
}

#foto{
  padding: 0px;
  height: 100%;
  background-image: url("../img/Annet.JPG");
  background-size: 100%;
  background-repeat: no-repeat;
  background-clip: border-box;
}

.content-block-big{
  height: 100%;
  padding: 0px;
}

.jumbotron{
  margin-bottom: 0px;
  height: 50%;

}

.content-block-big > .jumbotron{
  border-radius: 0px;
}

.content-block-small{
  height: 50%;
  padding: 0px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.ICT, .TQC, .philosopher{
  display: none;
}

/*
*MY FOOTER
*/

.my-footer{
  display: -webkit-flex;
  display: -ms-flexbox;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;r;
  align-items: center;
}

.my-footer >p{
  display: inline-block;
}


/*
*MY PAGE
*/

.my-page-top{
  padding-top: 90px;
  padding-bottom: 20px;
}

.my-page-bottom{
  margin-top: 50px;
}

.video{
  padding: 0px;
}

p{
  font-size: 16px;
}

blockquote{
  padding-left: 30px;
  padding-right: 30px;
}

blockquote>p{
  border-left: solid 4px #262015;
  padding-left: 10px;
  font-style: italic;
}
